.successNotifi {
  color: darkgreen;
  border: 1px darkgreen solid;
  background-color: #bbb;
  padding: 5px;
}
.errorNotifi {
  color: darkred;
  border: 1px darkred solid;
  background-color: #bbb;
  padding: 5px;
}